/**

    Space Invaders

**/

#game{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
    background-color: black;
    position: relative;
}

#blockOfInvaders{
    width: 250px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

.block{
    width: 20px;
    height: 20px;
    position: absolute;    
}

.invaderBlock{
    background-color: red;
}

.shipBlock{
    background-color: blue;
    top: calc(100% - 25px);
    left: calc(50% - 20px);
}