/**

    Space Invaders

**/
html, body{
    padding: 0px;
    margin: 0px;
    font-family: "Calibri", sans-serif;
}

#game{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
    background-color: black;
    position: relative;
}

#blockOfInvaders{
    width: 250px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

#status{
    width: 500px;
    height: auto;
    position: relative;
    margin: 0 auto;
    background-color: #bebebe;
}

.block{
    width: 20px;
    height: 20px;
    position: absolute;    
}

.laser{
    width: 5px;
    height: 10px;
    position: absolute;
    background-color: green;
}

.bomb{
    width: 5px;
    height: 10px;
    position: absolute;
    background-color: aqua;
}

.invaderBlock{
    background-color: red;
}

#shipBlock{
    background-color: blue;
    top: calc(100% - 25px);
    left: calc(50% - 20px);
}
