/**

    Space Invaders

**/
html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'VT323', monospace;
    background-color: black
}

p{
    padding: 0px;
    margin: 0px;
}

#game{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
    background-color: black;
    border: 1px solid #fff;
    position: relative;
}

#title{
    color: #fff;
    font-size: 3em;
    letter-spacing: 5px;
    text-align: center;
}

#status{
    width: 500px;
    height: auto;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 1.7em;
}
    #status div{
        display: inline-block;
        margin-right: 35px;
    }

#instructions{
    width: 470px;
    height: auto;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 35px;
    font-size: 1.2em;
    padding: 15px;
}
    #instructions ul li{
        list-style: square;
    }

#blockOfInvaders{
    width: 250px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

.block{
    width: 20px;
    height: 20px;
    position: absolute;    
}

.laser{
    width: 5px;
    height: 10px;
    position: absolute;
    background-color: #fff;
}

.bomb{
    width: 5px;
    height: 10px;
    position: absolute;
    background-color: red;
}

.invaderBlock{
    background-color: red;
}

#shipBlock{
    background-color: #fff;
    top: calc(100% - 25px);
    left: calc(50% - 20px);
}
